body{
    background-image: url('images/backgroundimage.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bar{
    background-color: #025B64;
    position: fixed;
    width: 98%;
    height: 59px;
    left: 15px;
    border-radius: 30px;
    top: 8px;
    font-family: 'Times New Roman', Times, serif;
}
.logo img{
    position: fixed;
    height: 45px;
    width: 55px;
    margin-top: 8px;
    margin-left: 50px;
}
.ttl{
    color: #FFF0D1;
    font-size: 25px;
    margin-left: 120px;
    margin-top: 12px;
}
.menu{
    color: #FFF0D1;
    position: fixed;
    word-spacing: 20px;
    margin-left: 875px;
    top: 15px;
}
.size{
    font-size: 18px;
    height: 45px;
    width: 120px;
    border-radius: 25px;
    background-color: #FFF0D1;
    cursor: pointer;
    border-color: #014752;
}
.size:hover {
    background-color: #014752;
    color: #FFF0D1;
}
.size2{
    font-size: 18px;
    height: 45px;
    width: 120px;
    border-radius: 25px;
    background-color: #FFF0D1;
    cursor: pointer;
    border-color: #014752;
}
.grid {
    display: grid;
    grid-template-columns: 925px;
    gap: 50px;
    margin-left: 270px;
    margin-top: 70px;
}
.booking {
    background-color: #FFF0D1;
    padding: 20px;
    color: black;
    position: relative;
}
.bookit {
    font-size: 30px;
}
.tbl {
    font-size: 20px;
    border-spacing: 5px;
}
.terms {
    font-size: 20px;
}
td {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.inputs {
    width: 400px;
    height: 35px;
}
.book-btn {
    height: 40px;
    width: 200px;
    border-radius: 25px;
    background-color: black;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    margin-left: 340px;
    color: #FFF0D1;
}