body{
    background-image: url('images/backgroundimage.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bar{
    background-color: #025B64;
    position: fixed;
    width: 98%;
    height: 59px;
    left: 15px;
    border-radius: 30px;
}
.logo img{
    position: fixed;
    height: 45px;
    width: 55px;
    margin-top: 8px;
    margin-left: 50px;
}
.ttl{
    color: #FFF0D1;
    font-size: 25px;
    margin-left: 120px;
    margin-top: 15px;
}
.menu{
    color: #FFF0D1;
    position: fixed;
    word-spacing: 20px;
    margin-left: 875px;
    top: 15px;
}
.size{
    font-size: 18px;
    height: 45px;
    width: 120px;
    border-radius: 25px;
    background-color: #FFF0D1;
    cursor: pointer;
    border-color: #014752;
    font-family: 'Times New Roman', Times, serif;
}
.size:hover {
    background-color: #014752;
    color: #FFF0D1;
}
.size2{
    font-size: 18px;
    height: 45px;
    width: 120px;
    border-radius: 25px;
    background-color: #FFF0D1;
    cursor: pointer;
    border-color: #014752;
    font-family: 'Times New Roman', Times, serif;
}
.size2:hover {
    background-color: #014752;
    color: #FFF0D1;
}
.about {
    font-size: 30px;
    margin-left: 50px;
    color: #FFF0D1;
    padding-top: 80px;
    text-decoration: underline;
}
.about2 {
    font-size: 22px;
    margin-left: 50px;
    color: #FFF0D1;
}
.mission {
    font-size: 30px;
    margin-left: 50px;
    color: #FFF0D1;
    text-decoration: underline;
}
.mission2 {
    font-size: 22px;
    margin-left: 50px;
    color: #FFF0D1;
}
.values {
    font-size: 30px;
    margin-left: 50px;
    color: #FFF0D1;
    text-decoration: underline;
}
.values2 {
    font-size: 22px;
    margin-left: 50px;
    color: #FFF0D1;
}
.aboutus-img img {
    height: 400px;
    width: 400px;
    margin-left: 65%;
    margin-top: -540px;
}
.connect {
    margin-left: 100px;
    font-size: 25px;
    color: #FFF0D1;
}
.twr-img img {
    height: 40px;
    width: 40px;
    margin-left: 70px;
    cursor: pointer;
}
.insta-img img {
    height: 40px;
    width: 40px;
    margin-left: 130px;
    cursor: pointer;
    margin-top: -40px;
}
.fb-img img {
    height: 40px;
    width: 40px;
    margin-left: 190px;
    cursor: pointer;
    margin-top: -40px;
}
.wp-img img {
    height: 40px;
    width: 40px;
    margin-left: 250px;
    cursor: pointer;
    margin-top: -40px;
}
.mrq{
    color: #FFF0D1;
    font-size: 25px;
    font-family: 'Arial Narrow Bold';
}
