body{
    background-image: url('images/backgroundimage.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bar{
    background-color: #025B64;
    position: fixed;
    width: 98%;
    height: 59px;
    left: 15px;
    border-radius: 30px;
    top: 8px;
    font-family: 'Times New Roman', Times, serif;
}
.logo img{
    position: fixed;
    height: 45px;
    width: 55px;
    margin-top: 8px;
    margin-left: 50px;
}
.ttl{
    color: #FFF0D1;
    font-size: 25px;
    margin-left: 120px;
    margin-top: 12px;
}
.menu{
    color: #FFF0D1;
    position: fixed;
    word-spacing: 20px;
    margin-left: 725px;
    top: 15px;
}
.size{
    font-size: 18px;
    height: 45px;
    width: 120px;
    border-radius: 25px;
    background-color: #FFF0D1;
    cursor: pointer;
    border-color: #014752;
}
.size:hover {
    background-color: #014752;
    color: #FFF0D1;
}
.size2{
    font-size: 18px;
    height: 45px;
    width: 120px;
    border-radius: 25px;
    background-color: #FFF0D1;
    cursor: pointer;
    border-color: #014752;
}
.size2:hover {
    background-color: #014752;
    color: #FFF0D1;
}
.size3{
    font-size: 18;
    height: 45px;
    width: 120px;
    border-radius: 25px;
    background-color: #FFF0D1;
    cursor: pointer;
    border-color: #014752;
}
.size3:hover {
    background-color: #014752;
    color: #FFF0D1;
}
.card-container{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    padding: 50px; 
}
.card{
    position: absolute;
    margin-top: 60px;
}
.card-img-top{
    position: absolute;
    height: 400px;
    width: 35rem;
}
.card-body{
    position: absolute;
    margin-top: 400px;
}
.rating span {
    font-size: 1.2rem;
    color: #FFD700; 
    letter-spacing: 2px; 
}
