body{
    background-image: url('images/backgroundimage.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bar{
    background-color: #025B64;
    position: fixed;
    width: 98%;
    height: 59px;
    left: 15px;
    border-radius: 30px;
}
.logo img{
    position: fixed;
    height: 45px;
    width: 55px;
    margin-top: 8px;
    margin-left: 50px;
}
.ttl{
    color: #FFF0D1;
    font-size: 25px;
    margin-left: 120px;
    margin-top: 15px;
}
.menu{
    color: #FFF0D1;
    position: fixed;
    word-spacing: 20px;
    margin-left: 725px;
    top: 15px;
}
.size{
    font-size: 18px;
    height: 45px;
    width: 120px;
    border-radius: 25px;
    background-color: #FFF0D1;
    cursor: pointer;
    border-color: #014752;
    font-family: 'Times New Roman', Times, serif;
}
.size:hover {
    background-color: #014752;
    color: #FFF0D1;
}
.size2{
    font-size: 18px;
    height: 45px;
    width: 120px;
    border-radius: 25px;
    background-color: #FFF0D1;
    cursor: pointer;
    border-color: #014752;
    font-family: 'Times New Roman', Times, serif;
}
.size2:hover {
    background-color: #014752;
    color: #FFF0D1;
}
.size3{
    font-size: 18;
    height: 45px;
    width: 120px;
    border-radius: 25px;
    background-color: #FFF0D1;
    cursor: pointer;
    border-color: #014752;
    font-family: 'Times New Roman', Times, serif;
}
.size3:hover {
    background-color: #014752;
    color: #FFF0D1;
}
.heading {
    font-size: 50px;
    text-align: center;
    padding-top: 80px;
    text-decoration: underline;
    color: #FFF0D1;
}
.ch2{
    font-size: 30px;
    word-spacing: 10px;
    font-weight: 5px;
    font-family: cursive;
    text-align: center;
    color: #04E2E4;
}
.about{
    font-size: 30px;
    text-align: center;
    word-spacing: 8px;
    padding: 0 200px;
    color: #FFF0D1;
}
.signup-btn {
    font-size: 18px;
    height: 45px;
    width: 120px;
    border-radius: 25px;
    background-color: #FFF0D1;
    cursor: pointer;
    margin-left: 46%;
    border-color: #014752;
    font-family: 'Times New Roman', Times, serif;
}
.signup-btn:hover {
    background-color: #014752;
    color: #FFF0D1;
}
.ch3{
    font-size: 32px;
    text-align: center;
    color: #04E2E4;
}
.mrq{
    font-size: 25px;
    font-family: 'Arial Narrow Bold';
    color: #FFF0D1;
    margin-top: 100px;
}
