body {
    background-image: url('images/backgroundimage.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.bar{
    background-color: #025B64;
    position: fixed;
    width: 98%;
    height: 59px;
    left: 15px;
    border-radius: 30px;
    margin-top: -92;
}
.logo img{
    position: fixed;
    height: 45px;
    width: 55px;
    margin-top: 8px;
    margin-left: 50px;
}
.ttl{
    color: #FFF0D1;
    font-size: 25px;
    margin-left: 120px;
    margin-top: 15px;
}
.menu{
    color: #FFF0D1;
    position: fixed;
    word-spacing: 20px;
    margin-left: 725px;
    top: 15px;
}
.size{
    font-size: 18px;
    height: 45px;
    width: 120px;
    border-radius: 25px;
    background-color: #FFF0D1;
    cursor: pointer;
    border-color: #014752;
    font-family: 'Times New Roman', Times, serif;
}
.size:hover {
    background-color: #014752;
    color: #FFF0D1;
}
.size2{
    font-size: 18px;
    height: 45px;
    width: 120px;
    border-radius: 25px;
    background-color: #FFF0D1;
    cursor: pointer;
    border-color: #014752;
    font-family: 'Times New Roman', Times, serif;
}
.size2:hover {
    background-color: #014752;
    color: #FFF0D1;
}
.size3{
    font-size: 18;
    height: 45px;
    width: 120px;
    border-radius: 25px;
    background-color: #FFF0D1;
    cursor: pointer;
    border-color: #014752;
    font-family: 'Times New Roman', Times, serif;
}
.size3:hover {
    background-color: #014752;
    color: #FFF0D1;
}
.grid {
    display: grid;
    grid-template-columns: 600px 600px;
    gap: 0px;
    width: 80%;
    margin: 100px auto 0; 
    padding-top: 40px;
}
.signinimg {
    width: 600px; 
    height: 550px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.signinimg img {
    width: 600px;
    height: 550px;
    border-radius: 0px;
}
.signinform{
    background-color: #031A2E; 
    border-radius: 0px;
}
.signin-heading{
    font-size: 40px;
    text-align: center;
    font: bold;
    color: #FFF0D1;
}
.email{
    font-size: 20px;
    margin-left: 70px;
    color: #FFF0D1;
}
.password {
    font-size: 20px;
    color: #FFF0D1;
    margin-left: 70px;
}
.input-box {
    height: 35px;
    width: 460px;
    padding-left: 10px;
    border-radius: 25px;
}
.rememberme {
    margin-left: 70px;
    color: #FFF0D1;
}
.forgotpass {
    font-size: 15px;
    margin-left: 380px;
    color: #FFF0D1;
    margin-top: -33px;
}
.signin-btn {
    font-size: 18px;
    height: 35px;
    width: 460px;
    border-radius: 25px;
    background-color: #025B64;
    cursor: pointer;
    color: #FFF0D1;
}
.signin-btn:hover {
    color: black;
    background-color: #013440;
}
.snbtn {
    text-align: center;
}
.goto-signup {
    color: #FFF0D1;
    margin-left: 70px;
}
a {
    cursor: pointer;
}